/* This is an example of using Sass, otherwise plain CSS works too*/
$primary-background: pink;
body {
  margin: 0;
}
main {
  background-image: url('../images/login-background.jpg');
  background-position: center;
  margin: 0;
  height: 100vh;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  align-items: center;
}

.hide {
  display: none;
}

// THIS IS FOR THE LOGIN PAGE //
.login-container {
  align-items: center;
  justify-content: center;
  height: 30vh;
  width: 70%;
  border: 5px solid rgb(139, 141, 141);
  border-radius: 10px;
  background-color: rgba(240, 248, 255, .6);
  flex-direction: column;
  box-shadow: 2px 2px 2px 2px rgb(112, 128, 144);
}

.login-legend {
  text-align: center;
}

.header-title {
  font-size: 2.3em;
  margin: 5vh 0 0 0;
  font-family: fantasy;
  text-align: center;
}

.login-form {
  height: 10vh;
  margin: 0 0 5vh 0;
  font-size: x-large;
  font-weight: 600;
  font-family: fantasy;
}

.inputs-login {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

#login-btn {
  display: inline-block;
  margin-left: 2%;
  height: 3em;
  width: 5%;
}

// THIS IS FOR THE MANAGER PAGE //
.manager-page {
  align-items: center;
  justify-content: center;
  height: 85vh;
  width: 90%;
  border: 5px solid rgb(57, 92, 99);
  border-radius: 10px;
  background-color: rgba(240, 248, 255, .9);
  flex-direction: column;
  box-shadow: 2px 1px 1px 1px rgba(126, 198, 219, 0.8);
}

.manager-navs {
  border-right: 5px solid rgb(57, 92, 99);
  float: left;
  height: 100%;
  display: flex;
  width: 15%;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.nav-title {
  font-size: 3em;
  text-align: center;
  font-family: fantasy;
  margin-bottom: 2%;
}

.nav-box {
  border: 3px solid rgb(57, 92, 99);
  width: 80%;
  margin: 5%;
  height: 20%;
  border-radius: 10px;
  box-shadow: 2px 1px 1px 1px rgba(75, 77, 78, 0.3);
}

.all-available-rooms-txt {
  font-size: 2em;
  text-align: center;
  font-family: fantasy;
}

.all-available-rooms {
  font-family: fantasy;
  text-align: center;
  font-size: 2em;
}

.total-revenue-text {
  text-align: center;
  font-size: 2em;
  font-family: fantasy;
}

.total-revenue {
  font-family: fantasy;
  text-align: center;
  font-size: 2em;
}

.available-percent-text {
  font-family: fantasy;
  text-align: center;
  font-size: 2em;
}

.available-percent {
  font-family: fantasy;
  text-align: center;
  font-size: 2em;
}

.main-manager-info {
  margin-left: 17%;
}

.todays-date {
  margin: 1% 0 3% 0;
  text-align: center;
  font-size: 10em;
  width: 98%;
}

.manager-search-nav {
  border: 3px solid rgb(57, 92, 99);
  margin-top: 1%;
  text-align: center;
  font-size: 5em;
  width: 98%;
  height: 25vh;
  box-shadow: 3px 2px 2px 2px rgba(75, 77, 78, 0.5);
}

.search-nav-title {
  display: block;
}

.input-name {
  border: 2px solid rgb(57, 92, 99);
  width: 10%;
  height: 5vh;
  box-shadow: 2px 1px 1px 1px rgba(75, 77, 78, 0.5);
}

#search-btn {
  border: 2px solid rgb(57, 92, 99);
  width: 10%;
  height: 5vh;
  box-shadow: 2px 1px 1px 1px rgba(75, 77, 78, 0.5);

}

// THIS IS FOR THE USER PAGE //
.user-page {
  align-items: center;
  justify-content: center;
  height: 85vh;
  width: 90%;
  border: 5px solid rgb(57, 92, 99);
  border-radius: 10px;
  background-color: rgba(240, 248, 255, .8);
  flex-direction: column;
  box-shadow: 2px 1px 1px 1px rgba(126, 198, 219, 0.8);
}

// .user-navs {
//   border-right: 5px solid rgb(57, 92, 99);
//   float: left;
//   height: 100%;
//   display: flex;
//   width: 15%;
//   justify-content: center;
//   flex-direction: column;
//   align-items: center;
// }

.bookings-box {
  border: 3px solid rgb(57, 92, 99);
  width: 80%;
  margin: 5%;
  height: 70%;
  border-radius: 10px;
  box-shadow: 2px 1px 1px 1px rgba(75, 77, 78, 0.3);
}

.my-bookings-text {
  font-size: 2em;
  text-align: center;
  font-family: fantasy;
}

.my-bookings {
  font-size: 2em;
  text-align: center;
  font-family: fantasy;
}

.money-spent-text{
  font-size: 2em;
  text-align: center;
  font-family: fantasy;
}

.money-spent {
  font-size: 2em;
  text-align: center;
  font-family: fantasy;
}

.main-user-info {
  margin-left: 17%;
}

.welcome-user {
  margin: 1% 0 3% 0;
  text-align: center;
  font-size: 7em;
  width: 98%;
}

.user-search-nav {
  border: 3px solid rgb(57, 92, 99);
  margin-top: 1%;
  text-align: center;
  font-size: 5em;
  width: 98%;
  height: 25vh;
  box-shadow: 3px 2px 2px 2px rgba(75, 77, 78, 0.5);
}

.filter-input {
  border: 2px solid rgb(57, 92, 99);
  width: 10%;
  height: 5vh;
  box-shadow: 2px 1px 1px 1px rgba(75, 77, 78, 0.5);
}

@media screen and (max-width: 850px) {

  // THIS IS FOR THE LOG IN PAGE //
  .login-container {
    height: 45vh;
  }

  .inputs-login {
    flex-direction: column;
    align-items: center;
  }

  #login-btn {
    width: 50%;
  }

  // THIS IS FOR THE MANAGER PAGE //
  .manager-navs {
    float: left;
    height: 100%;
    display: flex;
    width: 33%;
    justify-content: center;
    flex-direction: column;
    align-items: center;
  }

  .nav-box {
    box-shadow: 1px .5px .5px .5px rgba(75, 77, 78, 0.3);
  }
  
  .main-manager-info {
    margin-left: 34%;
  }

  .all-available-rooms-txt {
    font-size: 1em;
  }

  .total-revenue-text {
    font-size: 1em;
  }

  .available-percent-text {
    font-size: 1em;
  }

  .all-available-rooms {
    font-size: 1em;
  }

  .total-revenue {
    font-size: 1em;
  }

  .available-percent {
    font-size: 1em;
  }

  .todays-date {
    margin: 10% 0 13% 0;
    text-align: center;
    font-size: 5em;
    width: 98%;
  }
  
  .manager-search-nav {
    border: 2px solid rgb(57, 92, 99);
    text-align: center;
    font-size: 3em;
    width: 90%;
    height: 40vh;
    margin-left: 5%;
    box-shadow: 1.5px 1px 1px 1px rgba(75, 77, 78, 0.5);
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  
  .input-name {
    border: 2px solid rgb(57, 92, 99);
    width: 40%;
    height: 5vh;
    box-shadow: 1px .5px .5px .5px rgba(75, 77, 78, 0.5);
    margin: 10% 30%;
  }
  
  #search-btn {
    border: 2px solid rgb(57, 92, 99);
    width: 43%;
    height: 5vh;
    box-shadow: 1px .5px .5px .5px rgba(75, 77, 78, 0.5);
    margin-left: 30%;

  }

  //  THIS IS FOR THE USER PAGE //

  .user-navs {
    float: left;
    height: 100%;
    display: flex;
    width: 33%;
    justify-content: center;
    flex-direction: column;
    align-items: center;
  }

  .my-bookings-text {
    font-size: 1em;
  }
  
  .my-bookings {
    font-size: 1em;
  }

  .money-spent-text {
    font-size: 1em; 
  }

  .money-spent {
    font-size: 1em;
  }

  .main-user-info {
    margin-left: 34%;
  }

  .welcome-user {
    margin: 10% 0 13% 0;
    text-align: center;
    font-size: 2em;
    width: 98%;
  }

  .user-search-nav {
    border: 2px solid rgb(57, 92, 99);
    text-align: center;
    font-size: 2em;
    width: 90%;
    height: 30vh;
    margin: 2% 0 4% 5%;
    box-shadow: 1.5px 1px 1px 1px rgba(75, 77, 78, 0.5);
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .filter-input {
    border: 2px solid rgb(57, 92, 99);
    width: 40%;
    height: 5vh;
    box-shadow: 1px .5px .5px .5px rgba(75, 77, 78, 0.5);
    margin: 10% 30%;
  }
}