@import 'mixins';
@import 'variables';

body {
  margin: 0;
  color: white;
}
main {
  align-items: center;
  background-image: url('../images/login-background.jpg');
  background-position: center;
  display: flex;
  flex-wrap: wrap;
  height: 100vh;
  justify-content: space-around;
  margin: 0;
}

.hide {
  display: none;
}

// THIS IS FOR THE LOGIN PAGE //

.label {
margin: 0 .5%;
}

.input {
  @include borders();
  margin: 0 .5%;
}

.login-div {
width: 17%;
}

.login-container {
  align-items: center;
  background-color: rgba(44, 107, 107, 0.8);
  @include borders();
  flex-direction: column;
  height: 35vh;
  justify-content: center;
  width: 70%;
}

.login-legend {
  margin-top: 1%;
  text-align: center;
}

.header-title {
  font-family: fantasy;
  font-size: 3em;
  margin: 5vh 0 0 0;
  text-align: center;
}

.login-form {
  font-family: fantasy;
  font-size: x-large;
  font-weight: 600;
  height: 10vh;
  margin: 0 0 5vh 0;
}

.inputs-login {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

#login-btn {
  @include borders();
  display: inline-block;
  height: 3em;
  width: 7%;
}



// THIS IS FOR THE MANAGER PAGE //

.main-manager-info {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;

}

.manager-page {
  background-color: rgba(44, 107, 107, 0.8);
  @include borders();
  flex-direction: column;
  height: 85vh;
  width: 90%;
}

.manager-navs {
  align-items: center;
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
}

.nav-box {
  @include borders();
  height: 20%;
  margin: 2% 5% 5% 5%;
  width: 80%;
}

.all-available-rooms-txt {
  @include displayText()
}

.all-available-rooms {
  @include displayText()
}

.total-revenue-text {
  @include displayText()
}

.total-revenue {
  @include displayText()
}

.available-percent-text {
  @include displayText()
}

.available-percent {
  @include displayText()
}

.todays-date {
  font-size: 10em;
  margin: 0;
  text-align: center;
  width: 98%;
}

.manager-search-nav {
  align-items: center;
  @include borders();
  display: flex;
  flex-direction: column;
  font-size: 5em;
  height: 25vh;
  justify-content: center;
  margin: 1% 5% 0 5%;
  text-align: center;
  width: 98%;
}

.search-nav-title {
  display: block;
}

.input-names {
  @include borders();
  height: 5vh;
  width: 10%;
}

.input-name {
  @include borders();
  height: 5vh;
  width: 10%;
}

#search-user {
  align-items: center;
  @include borders();
  display: flex;
  height: 5vh;
  justify-content: center;
  margin-top: 2%;
  width: 10%;
}

// THIS IS FOR THE USER PAGE //
.user-page {
  align-items: center;
  background-color: rgba(44, 107, 107, 0.8);
  @include borders();
  flex-direction: column;
  height: 85vh;
  justify-content: center;
  width: 90%;
}

.bookings-container {
  align-items: center;
  border-right: 5px solid rgb(161, 226, 226);
  display: flex;
  flex-direction: column;
  float: left;
  height: 100%;
  justify-content: center;
  width: 25%;
}

.bookings-box {
  @include borders();
  height: 70%;
  margin: 5%;
  overflow: scroll;
  width: 80%;
}

.pop-up-container {
  background-color: white;
  @include borders();
  color:black;
  flex-direction: column;
  height: 80vh;
  overflow: scroll;
  position: absolute;
  top: 10%;
  width: 50%;
}

.my-bookings-text {
  @include displayText();
}

.my-bookings {
  align-items: center;
  display: flex;
  flex-direction: column;
  font-family: fantasy;
  font-size: 2em;
  text-align: center;
}

.singleBooking {
  background-color: rgba(44, 107, 107, 0.8);
  @include borders();
  margin: 5% 9%;
  overflow: scroll;
  width: 80%;
}

.booking-info {
  font-size: .6em;
  margin: 0;
  padding: 2%;
}

.money-spent-text{
  @include displayText();
  margin-bottom: 1%;
  
}

.money-spent {
  @include displayText();
  padding-bottom: 2%;
}

.main-user-info {
  margin-left: 26%;
}

.welcome-user {
  font-size: 7em;
  margin: 1% 0 3% 0;
  text-align: center;
  width: 98%;
}

.date-helper {
  font-size: 40%;
  margin: 0;
}

.user-search-nav {
  @include borders();
  font-size: 5em;
  height: 50vh;
  margin-top: 1%;
  text-align: center;
  width: 98%;
}

.filter-input {
  @include borders();
  height: 5vh;
  width: 10%;
}

.available-room-nav {
  @include borders();
  display: flex;
  flex-direction: column;
  font-size: 2em;
  height: 43vh;
  justify-content: center;
  margin-top: 1%;
  text-align: center;
  width: 60%;
}

#search-btn {
  @include borders();
  height: 5vh;
  width: 10%;
}

 .book-room-btn {
  @include borders();
  height: 5vh;
  width: 30%;
  margin-bottom: 1%;
 }

// THIS IS FOR THE MANAGER SIDE USER INFO //
.manager-user-info {
  margin-left: 26%
}

.add-booking-nav {
  @include borders();
  font-size: 2em;
  height: 43vh;
  margin-top: 1%;
  text-align: center;
  width: 98%;
}

.user-pop-up-window {
  background-color: white;
  @include borders();
  color:black;
  flex-direction: column;
  height: 80vh;
  overflow: scroll;
  position: absolute;
  top: 10%;
  width: 50%;
}

.add-booking-container {
  align-items: center;
  display: flex;
  flex-direction: column;
}
   
.add-booking-title {
font-size: 2.5em;
}

.add-booking-label {
margin: .3%;

}
.input-id {
  @include borders();
  margin: .3%;
  width: 15%;
}

.input-date {
  @include borders();
  margin: .3%;
  width: 15%;
}

.input-roomNumber {
  @include borders();
  margin: .3%;
  width: 15%;
}
.add-booking-btn {
  @include borders();
  height: 5vh;
  width: 20%;
}

.delete-booking-btn {
  @include borders();
  height: 5vh;
  width: 20%;
}

.delete-booking-nav {
  @include borders();
  font-size: 5em;
  height: 12vh;
  margin-top: 1%;
  text-align: center;
  width: 98%;
}

.delete-booking-input {
  @include borders();
  height: 30%;
  width: 15%;
}

@media screen and (max-width: 850px) {

  // THIS IS FOR THE LOG IN PAGE //
  .login-container {
    height: 70vh;
  }

  .login-div {
    margin: 5% 0 5% 15%;
    width:100%;
  }

  #login-btn {
    width: 50%;
    margin-left: 20%;
  }


  // THIS IS FOR THE MANAGER PAGE //
  .manager-navs {
    flex-direction: column;
  }

  .nav-box {
    margin: 1% 5%;
  }
  
  .all-available-rooms-txt {
    font-size: 1em;
  }

  .total-revenue-text {
    font-size: 1em;
  }

  .available-percent-text {
    font-size: 1em;
  }

  .all-available-rooms {
    font-size: 1em;
  }

  .total-revenue {
    font-size: 1em;
  }

  .available-percent {
    font-size: 1em;
  }

  .todays-date {
    display: none
  }

  #search-user {
    width: 40%;
  }
  
  .manager-search-nav {
    font-size: 3em;
    height: 40vh;
    margin:2% 5%;
    width: 90%;
  }
  
  .input-name {
    margin: 10% 30%;
    width: 40%;
  }

  .input-names {
    margin: 10% 30%;
    width: 40%;
  }
  
  #search-btn {
    margin-left: 30%;
    width: 43%;
  }

  .search-btn {
    border: 2px solid rgb(161, 226, 226);
    box-shadow: 1px .5px .5px .5px rgba(75, 77, 78, 0.5);
    height: 5vh;
    margin-left: 30%;
    width: 43%;
  }

  //  THIS IS FOR THE USER PAGE //
  .bookings-container {
    width: 40%;
  }

  .my-bookings-text {
    font-size: 1em;
  }
  
  .my-bookings {
    font-size: 1em;
  }

  .money-spent-text {
    font-size: 1em; 
  }

  .money-spent {
    font-size: 1em;
  }

  .main-user-info {
    margin-left: 41%;
  }

  .welcome-user {
    font-size: 2em;
    margin: 10% 0 13% 0;
  }

  .user-search-nav {
    display: flex;
    flex-direction: column;
    font-size: 2em;
    height: 60vh;
    justify-content: center;
    margin: 2% 0 4% 5%;
    text-align: center;
    width: 90%;
  }

  .book-room-btn {
    width: 80%;
    margin-bottom: 4%;
   }

   .booking-info {
    font-size: .3em;
  }

  .filter-input {
    margin: 10% 30%;
    width: 40%;
  }

  .pop-up-container{
    font-size: 2em;
    height: 60vh;
    width: 45%;
  }

// THIS IS FOR THE MANAGER SIDE USER INFO //
  .manager-user-info {
    margin-left: 41%
  }
  
  .add-booking-nav {
    border: 3px solid rgb(161, 226, 226);
    margin-top: 1%;
    text-align: center;
    font-size: 1.3em;
    width: 90%;
    margin: 2% 0 4% 5%;
    height: 43vh;
    box-shadow: 3px 2px 2px 2px rgba(75, 77, 78, 0.5);
    border-radius: 10px;
  }
  
  .add-booking-container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
     
  .add-booking-title {
  font-size: 2.5em;
  }

  .input-id {
  margin: .3%;
  width: 55%;
  }

  .input-date {
  margin: .3%;
  width: 55%;
  }

  .input-roomNumber {
  margin: .3%;
  width: 55%;
  }

  .delete-booking-nav {
    border: 3px solid rgb(161, 226, 226);
    margin-top: 1%;
    text-align: center;
    font-size: 2em;
    width: 90%;
    margin: 2% 0 4% 5%;
    height: 24vh;
    box-shadow: 3px 2px 2px 2px rgba(75, 77, 78, 0.5);
    border-radius: 10px;
  }
  
  .delete-booking-input {
    margin: .3%;
    width: 55%;
  }

  .add-booking-btn {
    border: 2px solid rgb(161, 226, 226);
    width: 48%;
    height: 3vh;
    box-shadow: 1px .5px .5px .5px rgba(75, 77, 78, 0.5);
  }
  
  .delete-booking-btn {
    border: 2px solid rgb(161, 226, 226);
    width: 48%;
    height: 3vh;
    box-shadow: 1px .5px .5px .5px rgba(75, 77, 78, 0.5);
  }
  
}